<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script language="javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jQuery.md5.js}"></script>
    <script type="text/javascript" th:src="@{/js/register.js}"></script>
    <script type="text/javascript" th:src="@{/js/leftTime.min.js}"></script>
    <title>注册动力金融网-动力金融网,专业的互联网金融信息服务平台</title>
	<style type="text/css">
        .testBtn-a{display: inline-block;height:40px;line-height:30px;padding:0 8px; border:0; border-radius:0px;color:#fff;background:rgb(65,133,244);cursor: pointer;}
        .testBtn-a.on{background:#c9c9c9;color:#666;cursor: default;}
    </style>
    <script type="text/javascript">



    </script>
</head>

<body>
<div id="header">
    <div th:include="commons/header :: html"></div>
</div>

<div class="login-body regBody">
    <div class="mainBox">
        <div class="homeWap">

            <div class="reg-step">
                <ul class="clearfix">
                    <li>注册</li>
                    <li class="none">实名认证</li>
                    <li class="last">完成</li>
                </ul>
            </div>

            <div class="login-cnt reg-body clearfix">
                <div class="fl">
                    <div class="reg-link">已有帐号？<a th:href="@{/loan/page/login}">登录</a></div>
                    <div class="login-form reg-form">
                        <h2>用户注册</h2>

                        <div class="login-box clearfix" style="z-index:100;">
                            <label>手机号</label>
                            <input type="text" id="phone" name="phone" class="input_text" maxlength="11"
                                   placeholder="请输入11位手机号码" autocomplete="off"/>
                            <span id="phoneOk" class="ok" style="display:none;"></span>
                            <div id="phoneErr" class="form-hint" style="display:none;"></div>
                        </div>

                        <div class="login-box clearfix " style="z-index:90;">
                            <label>登录密码</label>
                            <input type="password" id="loginPassword" name="loginPassword" class="input_text"
                                   maxlength="20" placeholder="请输入6-20位英文和数字混合密码" autocomplete="off"/>
                            <span id="loginPasswordOk" class="ok" style="display:none;"></span>
                            <div id="loginPasswordErr" class="form-hint" style="display:none;z-index:90;"></div>
                        </div>
                        <div class="login-box clearfix " style="z-index:90;">
                            <label>再次验证密码</label>
                            <input type="password" id="repalyloginPassword" name="loginPassword" class="input_text"
                                   maxlength="20" placeholder="请输入6-20位英文和数字混合密码" autocomplete="off"/>
                            <span id="repalyloginPasswordOk" class="ok" style="display:none;"></span>
                            <div id="repalyloginPasswordErr" class="form-hint" style="display:none;z-index:90;"></div>
                        </div>
                        <div class="login-box clearfix" style="z-index:60;">
                            <label>&nbsp;</label>
                            <div class="yzm-box">
                                <input id="messageCode" type="text" class="yzm" placeholder="获取短信验证码"/>
                                &nbsp;&nbsp;
                                <button type="button" class="testBtn-a" id="messageCodeBtn">获取验证码</button>
                              <!-- <img th:src="@{/jcaptcha/captcha}" id="captcha" class="imgcode" width="85%"/>-->
                            </div>
                            <span id="messageCodeOk" class="ok" style="display:none;"></span>
                            <div id="messageCodeErr" class="form-hint" style="display:none;"></div>
                        </div>

                        <div class="remember" style="z-index:60;">
                <span class="on">
                <input id="agree" name="agree" type="checkbox"/>我已阅读并同意<a
                        href="javascript:alertBox('mask','agreement');"><font
                        style="color: red;">《动力金融网&trade;注册服务协议》</font></a>
                </span>
                        </div>

                        <div class="bn-login">
                            <button class="fail" id="btnRegist" disabled >
                                注&nbsp;&nbsp;册
                            </button>
                        </div>

                    </div>
                </div>
                <div class="reg-right">
                    <div class="reg-txt clearfix">
                        <p>
                            万名用户知心托付<br/>
                            千万级技术研发投入<br/>
                        </p>
                        <p>
                            12.7%历史年化收益<br/>
                            亿级注册资本平台
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--页脚start-->
<div th:include="commons/footer :: html"></div>
<!--页脚end-->

<!--遮罩层start-->
<div id="mask" class="dialog-overlay" style="display:none;"></div>
<!--遮罩层end-->

</body>
</html>